<nav>
    <img src="./../../../../assets/img/sakura_logo.svg" alt="sakura-logo">
    <div id="nav-links">
            <a id="menu" href="#menu-headline">MENU</a>
            <a id="location" href="#find-us-headline">LOCATION</a>
            <a id="about" href="#footer-container">ABOUT</a>
            <div id="contact">
                <a href="tel:017656564534">
                    <img src="./../../../../assets/img/phone.svg" alt="phone">
                    <a id="phone-number">017656564534</a>
                </a>
            </div>
    </div>

    <div id="language-container">
        <img class="language-buttons" id="english-button" src="./../../../../assets/img/output-onlinepngtools (2).png"
            alt="">
        <img class="language-buttons" id="german-button" src="./../../../../assets/img/output-onlinepngtools.png" alt="">
    </div>
</nav>

<!-- onclick="changeLanguageEn()"
onclick="changeLanguageDe()" -->
