@import "./../landing-page/mixin.scss";


section{
    position: relative;
    height: 50vh;
    padding: $x2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h2{
        @include secondaryH2();
    }

    #order-container{
        width: 100%;
        gap: 32px;
        @include defaultFlex();
        justify-content: space-evenly!important;

            .order-svg{
                @include size(100px);
            }

            div{
                font-weight: bold;
                @include defaultFlex();
                flex-direction: column;
                @include boldFontSize()
            }
    }
}