<section>
    <h2>HOW TO ORDER</h2>
    <div id="order-container">
        <div>
            <img class="order-svg" src="./../../../assets/img/noodle.png" alt="noodle">
            <div>Pick your noodle</div>
        </div>
        <div>
            <img class="order-svg" src="./../../../assets/img/broth.svg" alt="warmes wasser mit geschmack">
            <div>Pick your broth</div>
        </div>
        <div>
            <img class="order-svg" src="./../../../assets/img/egg.svg" alt="egg">
            <div>Add your toppings</div>
        </div>
    </div>
</section>